<div class="container">
  <div class="row">
    <h1 class="col-12">Calculadora</h1>
  </div>
  <div class="row">
    <div class="col-6">
      <input type="number" class="form-control" [(ngModel)]="numero1">
    </div>
    <div class="col-6">
      <input type="number" class="form-control" [(ngModel)]="numero2">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="btn-group">
        <button class="btn btn-dark" (click)="calcular('suma')">CALCULAR SUMA</button>
        <button class="btn btn-dark" (click)="calcular('resta')">CALCULAR RESTA</button>
        <button class="btn btn-dark" (click)="calcular('multiplicacion')">CALCULAR MULTIPLICACION</button>
        <button class="btn btn-dark" (click)="calcular('division')">CALCULAR DIVISION</button>
        <button class="btn btn-dark" (click)="calcular('potencia')">CALCULAR POTENCIA</button>
      </div>
    </div>
  </div>
  <div class="row">
    <h2 class="col-12">Resultado: {{resultado}}</h2>
  </div>
</div>
